<div class="card animated fadeIn fast">
    <img class="card-img-top img-fluid" [src]="producto.img" [alt]="producto.nombre">
    <div class="card-body">
        <h4 class="card-title"> {{ producto.nombre }}</h4>
        <p class="card-text"> {{ producto.bio}} </p>
        <p class="card-text"> <small class="text-muted"> {{ producto.aparicion }}</small></p>
        <button (click)="verProducto()" type="button" class="btn btn-outline-primary btn-block"> Ver más...
        </button>
        
    </div>
</div>